In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {
    "name" : ["sahith" , "roham" ,"skillf"],
    "marks" : [99 , 20 , 5],
    "city" :["hyd" , "lokpur" , "golapur"]
}

In [3]:
df = pd.DataFrame(dict1)

In [5]:
df

     name  marks     city
0  sahith     99      hyd
1   roham     20   lokpur
2  skillf      5  golapur

In [2]:
df.to_csv("friends.csv")

NameError: name 'df' is not defined