In [2]:
import pandas as pd
import numpy as np

In [4]:
pyCsv = pd.read_csv("harry.csv")

In [5]:
pyCsv

      name  marks         city
0   sahith     99    Hyderabad
1  pradeep     99          Hyd
2   Rigved     99  SanathNagar

In [6]:
df = pd.DataFrame()

In [7]:
df1 = pd.DataFrame([[1, 2, 3, 4] , [5, 6, 7, 8] , 2, 7, 3, 23, ] , [3, 6, 8 , 23, ] , [23, 23, 63, 12])

TypeError: object of type 'int' has no len()

In [8]:
df1 = pd.DataFrame([[1, 2, 3, 4] , [5, 6, 7, 8] , [2, 7, 3, 23, ] , [3, 6, 8 , 23, ] , [23, 23, 63, 12]])

In [9]:
df1

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2   2   7   3  23
3   3   6   8  23
4  23  23  63  12