In [1]:
import pandas as pd
import numpy as np

In [2]:
pyCsv = pd.read_csv("harry.csv")

In [3]:
pyCsv

      name  marks         city
0   sahith     99    Hyderabad
1  pradeep     99          Hyd
2   Rigved     99  SanathNagar

In [4]:
df = pd.DataFrame()

In [10]:
df1 = pd.DataFrame([[1, 2, 3, 4] , [5, 6, 7, 8] , [2, 7, 3, 23, ] , [3, 6, 8 , 23, ] , [23, 23, 63, 12]] , columns=["A" , "B"])

ValueError: 2 columns passed, passed data had 4 columns

In [6]:
df1

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2   2   7   3  23
3   3   6   8  23
4  23  23  63  12

In [7]:
df1.tail(3)

    0   1   2   3
2   2   7   3  23
3   3   6   8  23
4  23  23  63  12

In [8]:
df1.shape

(5, 4)

In [9]:
df1.iloc[0 : 2, 0 : 2]

   0  1
0  1  2
1  5  6