In [2]:
import pandas as pd
import numpy as np

In [4]:
pyCsv = pd.read_csv("harry.csv")

In [5]:
pyCsv

      name  marks         city
0   sahith     99    Hyderabad
1  pradeep     99          Hyd
2   Rigved     99  SanathNagar

In [6]:
df = pd.DataFrame()

In [ ]:
df1 = pd.DataFrame([[1, 2, 3, 4] , [5, 6, 7, 8] , 2, 7, 3, 23, ] , [3, 6, 8 , 23, ] , [23, 23, 63, 12])