In [6]:
import numpy as np
import pandas as pd

In [7]:
dict1 = {
    "name" : ["sahith" , "pradeep" , "Rigved"],
    "marks" : [ 99, 99, 99],
    "city" : ["Hyderabad" , "Hyd" , "SanathNagar"]
}

In [8]:
df = pd.DataFrame(dict1)

In [9]:
df["name"]

0     sahith
1    pradeep
2     Rigved
Name: name, dtype: object

In [10]:
type(df["name"])

pandas.core.series.Series

In [11]:
ser = pd.Series(np.random.rand(10))

In [12]:

ser

0    0.408217
1    0.206139
2    0.285837
3    0.891711
4    0.101385
5    0.125573
6    0.889800
7    0.210918
8    0.859874
9    0.092666
dtype: float64

In [13]:
newdf = pd.DataFrame(np.random.rand(334, 5), index=np.arange(334))

In [14]:
newdf

            0         1         2         3         4
0    0.615973  0.800139  0.604976  0.517969  0.520464
1    0.041926  0.210879  0.089005  0.214849  0.122391
2    0.940576  0.446345  0.183349  0.421913  0.414343
3    0.327791  0.370614  0.691902  0.822032  0.816141
4    0.739672  0.795315  0.704740  0.254469  0.125130
..        ...       ...       ...       ...       ...
329  0.188711  0.823027  0.229938  0.427655  0.344579
330  0.632016  0.231801  0.261181  0.488811  0.759779
331  0.257152  0.248383  0.030006  0.071372  0.698521
332  0.478713  0.766185  0.616271  0.258913  0.343968
333  0.330151  0.410162  0.138807  0.190508  0.336627

[334 rows x 5 columns]