In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {
    "name" : ["sahith" , "pradeep" , "Rigved"],
    "marks" : [ 99, 99, 99],
    "city" : ["Hyderabad" , "Hyd" , "SanathNagar"]
}

In [3]:
df = pd.DataFrame(dict1)

In [6]:
df.describe()

       marks
count    3.0
mean    99.0
std      0.0
min     99.0
25%     99.0
50%     99.0
75%     99.0
max     99.0