In [24]:
import numpy as np
import pandas as pd

In [25]:
dict1 = {
    "name" : ["sahith" , "pradeep" , "Rigved"],
    "marks" : [ 99, 99, 99],
    "city" : ["Hyderabad" , "Hyd" , "SanathNagar"]
}

In [26]:
df = pd.DataFrame(dict1)

In [27]:
df["name"]

0     sahith
1    pradeep
2     Rigved
Name: name, dtype: object

In [28]:
type(df["name"])

pandas.core.series.Series

In [29]:
ser = pd.Series(np.random.rand(10))

In [30]:

ser

0    0.376049
1    0.096361
2    0.852547
3    0.534539
4    0.139249
5    0.921509
6    0.843819
7    0.946761
8    0.433442
9    0.950509
dtype: float64

In [41]:
newdf = pd.DataFrame(np.random.rand(334, 5) , index=np.arange(334))

In [35]:
newdf

            0         1         2         3         4
0    0.430853  0.584584  0.652507  0.344540  0.302162
1    0.790596  0.594210  0.242632  0.780276  0.346984
2    0.402270  0.643412  0.936430  0.206267  0.078057
3    0.065051  0.487357  0.388915  0.085200  0.123157
4    0.741135  0.957795  0.748481  0.549356  0.807570
..        ...       ...       ...       ...       ...
329  0.460148  0.770601  0.503459  0.604838  0.369375
330  0.117759  0.230616  0.496933  0.366721  0.085450
331  0.201735  0.221188  0.090978  0.994742  0.970315
332  0.611134  0.485118  0.983608  0.874884  0.788942
333  0.303386  0.186998  0.003729  0.261865  0.447931

[334 rows x 5 columns]

In [42]:
type(newdf)

pandas.core.frame.DataFrame

In [43]:
newdf.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
      dtype='int64', length=334)

In [44]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)