In [2]:
import numpy as np
import pandas as pd

In [5]:
dict1 = {
    "name" : ["sahith" , "pradeep" , "Rigved"],
    "marks" : [ 99, 99, 99],
    "city" : ["Hyderabad" , "Hyd" , "SanathNagar"]
}

In [4]:
df = pd.DataFrame(dict1)

NameError: name 'pd' is not defined

In [3]:
df

NameError: name 'df' is not defined

      name  marks         city
1  pradeep     99          Hyd
2   Rigved     99  SanathNagar

NameError: name 'df' is not defined

In [2]:
df

NameError: name 'df' is not defined